body::-webkit-scrollbar {
    width: 15px;      
  }
  
  body::-webkit-scrollbar-track {
    background: rgb(25, 25, 25);   
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: blue;   
    border-radius: 20px; 
    border: 3px solid rgba(25, 25, 25); 
  }
body {
    margin: auto;
    /* background: linear-gradient(315deg, rgb(28, 28, 28) 3%, rgb(34, 34, 37) 38%, rgb(23, 22, 25) 68%, rgb(18, 18, 18) 98%);
    animation: gradient 15s ease infinite; */
    overflow-x: hidden;
}

#side{
    width: 100%;
    height: 100%;
    position: fixed;
    top: -5;
    z-index: -10000000000000000000000;
    right: 0;
    background-image: linear-gradient(to right, #242328, #161516, #070707);
}

#side2{
    width: 50%;
    height: 100%;
    position: fixed;
    z-index: -1000000000000000000;
    top: -5;
    left: 0;
    background-image: linear-gradient(to right, #242328, #161516, #070707);
}

#side3{
    width: 100%;
    height: 1000%;
    position: fixed;
    z-index: -1;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to right, #242328, #161516, #070707);
}

#side4{
    width: 50%;
    height: 1000%;
    position: fixed;
    z-index: -1000000000000000000;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(to right, #242328, #161516, #070707);
}

.nav-link {
    color: rgb(255, 255, 255) !important;
    /* text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue; */
}
.nav-link:hover{
    color: rgb(64, 0, 255) !important;
    text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 1em rgb(255, 21, 0), 0 0 0.2em rgb(0, 157, 255);
}
.navbar-brand {
    color: rgb(255, 255, 255) !important;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

p{
    color: rgba(210, 210, 210, 0.975);
    width: 90%;
    font-size: calc(1vw + 1vh + 1vmin + 0.125cm);
    overflow-x: hidden;
    /* text-shadow: 0px 0px 3.2px rgb(255, 0, 0); */
}

dl{
    margin-left: 5%;
    overflow-x: hidden;
}

#text{
    color: aliceblue;
    width: 90%;
    font-size: calc(1vw + 1vh + 1vmin);
}

.articleTitle{
    text-shadow: 2px 2px 5px rgb(255, 0, 0);
    color: aliceblue;
    font-size: calc(2vw + 2vh + 2vmin);
    font-weight: bold;
    text-align: center;
    margin-bottom: 1%;
}

.articleImage{
    width: calc(80% - 10vw - 10vh - 10vmin);
    height: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 5px;
}
@media screen and (max-width: 1030px) {
    .articleImage{
        width: calc(90%);
    }
    p{
        font-size: calc(1.15vw + 1.15vh + 1.15vmin + 0.075cm);
    }
}

#disclaimer{
    color: red;
    font-size: calc(0.7vw + 0.7vh + 0.7vmin);
    overflow-y: hidden;
}

.footer {
    background: #152f4f;
    color: white;
  }
  .footer .links ul {
    list-style-type: none;
  }
  .footer .links li a {
    color: white;
    transition: color 0.2s;
  }
  .footer .links li a:hover {
    text-decoration: none;
    color: #4180cb;
  }
  .footer .about-company i {
    font-size: 25px;
  }
  .footer .about-company a {
    color: white;
    transition: color 0.2s;
  }
  .footer .about-company a:hover {
    color: #4180cb;
  }
  .footer .location i {
    font-size: 18px;
  }
  .footer .copyright p {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
  